.card {
    box-sizing: border-box;
    width: 190px;
    height: 200px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
}

.card:hover {
    border: 1px solid black;
    transform: scale(1.02);
}

.card:active {
    transform: scale(0.98);
}

.card-unselected {
    border: 3px solid rgba(230, 230, 230, 0.58);
    border-radius: 20px;
}

.card-selected {
    border: 3px solid darkgreen;
    border-radius: 20px;
}
