.input {
   width: 100%;
   border: none;
   padding: 1rem;
   border-radius: 1rem;
   background: #e8e8e8;
   transition: 0.3s;
   field-sizing: content;
}

.input:focus {
   outline-color: #e8e8e8;
   background: #e8e8e8;
   box-shadow: inset 20px 20px 60px #e5e5e5,
      inset -20px -20px 60px #ffffff;
   transition: 0.3s;
}

.responseCard {
   border-radius: 30px;
   background: #f0f0f0;
   box-shadow: 7px 7px 15px #bebebe,
      -7px -7px 15px #ffffff;
}